.container::before {
  background: #4e42d4;
  clip-path: circle(21% at 100% 0);
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container::after {
  background: #4e42d4;
  clip-path: circle(44% at 0 65%);
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content {
  padding: 1rem;
  width: 100%;
}

.welcome_page > h1 {
  color: #4e42d4;
  font-size: 3rem;
  padding: 0 0 1rem;
  text-align: center;
}

.welcome_page > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem;
  text-align: center;
}

.content_input_search {
  align-items: center;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px #808080aa;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0fr 1fr;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
}

.content_input_search > svg {
  font-size: 1.7rem;
}

.content_input_search > input {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  height: 100%;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.filter_catagories {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

.filter_catagories > p {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px #80808074;
  color: #4e42d4;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.title_result {
  font-size: 2.2rem;
}

hr {
  margin: 1rem 0;
}

.container_cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 0;
  width: 100%;
}

.no_result_users {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.no_result_users > p {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px #80808074;
  color: #4e42d4;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.no_result_users > p > span {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .container_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .container_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .container::after {
    clip-path: circle(22rem at 0 75%);
  }

  .container::before {
    clip-path: circle(50% at 100% 126%);
  }

  .welcome_page {
    margin: 3rem auto;
    width: 45rem;
  }

  .welcome_page > h1 {
    font-size: 5rem;
  }

  .welcome_page > p {
    font-size: 1.4rem;
  }

  .content_input_search {
    height: 5rem;
  }

  .title_result {
    font-size: 3.2rem;
  }
}

@media (min-width: 1140px) {
  .container_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
