.container {
  background: #fff;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.hidden_component {
  display: none;
}

.content {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  height: 100%;
  width: 100%;
}

.nav_message {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 0fr;
  padding: 1rem;
  width: 100%;
}

.nav_message svg {
  cursor: pointer;
  font-size: 1.5rem;
}

.image_user {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.image_user img,
.img_inside_message {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.name_user p:nth-child(1) {
  font-size: 1rem;
  font-weight: 900;
}

.name_user p:nth-child(2) {
  color: gray;
  font-size: 0.8rem;
}

.content_mobile {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.messages_users {
  padding: 0.5rem;
  overflow: auto;
}

.message_left,
.message_right {
  align-items: end;
  display: grid;
  grid-template-columns: 3.3rem 1fr;
  margin: 0 0 1.5rem 0;
  position: relative;
  width: 100%;
}

.message_right {
  display: flex;
  flex-direction: row-reverse;
}

.img_user_message {
  border-radius: 50%;
  cursor: pointer;
  height: 2.5rem;
  object-fit: cover;
  width: 2.5rem;
}

.content_img_user_chat {
  cursor: pointer;
  position: relative;
}

.message_right .message_img_hour {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 4rem;
}

.message_img_hour > p {
  font-size: 0.8rem;
  text-align: center;
}

.message_left > p,
.message_right > p {
  background: #80808096;
  border-radius: 1rem;
  padding: 0.5rem;
  width: fit-content;
  word-break: break-word;
}

.message_right > p {
  background: #0099ff;
  color: #fff;
}

.message_right .icon_message {
  bottom: 0;
  position: absolute;
  right: 0;
}

.message_left .icon_message {
  bottom: 0;
  position: absolute;
  right: 0.5rem;
}

.form_input {
  margin: 0.2rem 0;
}

.input_div {
  align-items: center;
  background: #8080806b;
  border-radius: 3rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0fr 1fr 0fr;
  padding: 0.5rem;
  width: 100%;
}

.camera_send_photo {
  align-items: center;
  background: #0099ff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.input_form_value {
  background: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem;
}

.content_other_svg {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  gap: 0.5rem;
}

/* Options menu */

.container_options {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.background_close {
  background: #00000066;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.content_options {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  gap: 1rem;
}

.item svg {
  color: #0099ff;
  font-size: 1.5rem;
}

/* Options menu */

@media (min-width: 700px) {
  .hidden_component {
    display: block;
  }

  .container {
    border-radius: 0rem 1rem 1rem 0rem;
    height: 95vh;
    position: relative;
  }

  .nav_message {
    align-items: center;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.5rem;
    padding: 1rem 1rem 0.5rem;
  }

  .image_user > svg {
    display: none;
  }

  .desk_chat_container {
    align-items: center;
    background: #80808030;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .desk_chat_content {
    border-radius: 1rem;
    box-shadow: 1px 1px 6px grey;
    display: grid;
    grid-template-columns: 23rem 1fr;
    max-width: 65rem;
  }

  .show_message_not_selected {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    padding: 6rem;
  }
}

@media (min-width: 1000px) {
  .container,
  .show_message_not_selected {
    width: 38rem;
  }
}
