.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.image_logo {
  cursor: pointer;
  height: 2.5rem;
  object-fit: cover;
  width: 2.5rem;
}

.navbar > svg {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
}

@media (min-width: 1000px) {
  .navbar {
    display: grid;
    grid-template-columns: 0.21fr 1fr;
  }

  .image_logo {
    height: 4rem;
    width: 4rem;
  }

  .navbar > svg {
    display: none;
  }
}
