.load_image_container {
  align-items: center;
  background: #0000007d;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.load_image_content {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
  padding: 1rem;
  width: 95%;
}

.load_image_span {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 0fr;
  justify-items: center;
}

.load_image_title {
  font-weight: 500;
}

.load_image_button_close {
  align-items: center;
  background: #80808070;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.load_image_button {
  align-items: center;
  background: #0099ff;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 1px 1px 6px grey;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  gap: 1rem;
  margin: 1rem 0;
  height: 3.5rem;
  justify-content: center;
  width: 100%;
}

/* Spiner manual */

.content_spinner {
  align-items: center;
  display: grid;
  gap: 1rem;
  justify-items: center;
  padding: 3rem;
  width: 100%;
}

.loading_photo {
  text-align: center;
  font-size: 1.1rem;
}

.spinner {
  border: 13px solid #0099ff;
  border-left-color: transparent;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1000px) {
  .load_image_content {
    width: 30rem;
  }
}
